@using BookingTable.Business
@using BookingTable.Entities
@using BookingTable.Entities.Entities
@using BookingTable.Web.Helpers
@using BookingTable.Web.Resources
@model BookingTable.Entities.Entities.Customer
@{
    ViewBag.Title = Resources.Content_Customer;
}
<link rel="stylesheet" href="~/Content/css/datepicker3.css" />
<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">@Resources.Content_Profile</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form id="formCustomer">
        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
        <div class="box-body">
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="Username">@Resources.Content_Username</label>
                    <input type="text" class="form-control" disabled value="@Model.Username">
                </div>
                <div class="form-group">
                    <label for="FullName">@Resources.Content_Fullname</label>
                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", placeholder = Resources.Content_Fullname })
                </div>
                <div class="form-group">
                    <label for="DateOfBirth">@Resources.Content_Birthday</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="DateOfBirth" name="DateOfBirth" placeholder="@Resources.Content_Birthday" value="@Model.DateOfBirth.ToString("MM/dd/yyyy")">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Address">@Resources.Content_Address</label>
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control", placeholder = Resources.Content_Address })
                </div>
                <div class="form-group">
                    <label for="Phone">@Resources.Content_Phone</label>
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", placeholder = Resources.Content_Phone })
                </div>
                <div class="form-group">
                    <label for="Email">@Resources.Content_Email</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = Resources.Content_Email })
                </div>
            </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                <label>@Resources.Content_Image @Resources.Content_MostSuitableSize</label>
                <div class="form-group"></div>
                </div>
            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                @if (Model.Image != null)
                {
                    <div class="form-group">
                        <img id="imageReview" src="@Support.GetPathPhotoFolder()/@Model.Image" class="img-responsive img-thumbnail" alt="Cinque Terre" style="width: 250px; height: 250px;">
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <img id="imageReview" src="~/Content/images/noUserImage.png" class="img-responsive img-thumbnail" alt="Cinque Terre" style="width: 250px; height: 250px;">
                    </div>
                }

                <div class="form-group">
                    <input type="file" name="Image" id="Image" accept="image/*" />
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button onclick="location.href='@Url.Action("ChangePassword","User")'" type="button" class="btn btn-primary pull-left">@Resources.Content_Password</button>
            <button id="btnUpdate" type="button" class="btn btn-primary pull-right">@Resources.Content_Update</button>
        </div>
    </form>
</div>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script>
    //Date picker
    $('#DateOfBirth')
        .datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true
        });
    $(document)
        .ready(function () {
            $("#Image")
                .change(function () {
                    readURL(this, $('#imageReview'));
                });

            jQuery.validator.addMethod("noSpaceOnly",
                function (value, element) {
                    return value.trim(' ') !== "";
                },
                '@Resources.Validate_Required');

            $.validator.addMethod("maxDate",
                function (value, element) {
                    var curDate = new Date();
                    var inputDate = new Date(value);
                    return inputDate < curDate;
                },
                "@Resources.Validate_MaxDate");

            $('#formCustomer')
                .validate({
                    rules:
                    {
                        FullName:
                        {
                            maxlength: 64,
                            noSpaceOnly: true
                        },
                        Username:
                        {
                            maxlength: 32,
                            noSpaceOnly: true
                        },
                        Address:
                        {
                            maxlength: 128,
                            noSpaceOnly: true
                        },
                        Phone:
                        {
                            maxlength: 16,
                            noSpaceOnly: true
                        },
                        Email:
                        {
                            maxlength: 128,
                            noSpaceOnly: true,
                            email: true
                        },
                        Birthday:
                        {
                            noSpaceOnly: true
                        }
                    },
                    messages:
                    {
                        FullName:
                        {
                            maxlength: '@string.Format(Resources.Validate_LenghtMax, 64)'
                        },
                        Username:
                        {
                            maxlength: '@string.Format(Resources.Validate_LenghtMax, 32)'
                        },
                        Address:
                        {
                            maxlength: '@string.Format(Resources.Validate_LenghtMax, 128)'
                        },
                        Phone:
                        {
                            maxlength: '@string.Format(Resources.Validate_LenghtMax, 16)'
                        },
                        Email:
                        {
                            maxlength: '@string.Format(Resources.Validate_LenghtMax, 128)',
                            email: '@Resources.Validate_Email'
                        }
                    }
                });
            $('#btnUpdate')
               .click(function () {
                   if ($('#formCustomer').valid()) {
                       $.ajax({
                           url: '@Url.Action("UpdateProfile", "User")',
                           type: 'POST',
                           data: new FormData($('#formCustomer')[0]),
                           cache: false,
                           contentType: false,
                           processData: false,
                           success: function (data) {
                               ShowMessage(data);
                           },
                           error: function () {
                               ConnectionError();
                           }
                       });
                   }
               });
        });
</script>
